*{margin: 0;
    padding: 0;

}
body{
    background-color: transparent;
    overflow-x: hidden;
}
footer {
    background-color: #343a40;
    color: #ffffff;
    padding-top: 2%;
}
footer a:hover {
    color: #f8f9fa;
}
